*.iml
/.gradle/
/.kotlin/
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build/
/captures/
/.externalNativeBuild/
/.cxx/
local.properties

# Local runtimes and downloaded libraries
/.venv/
/node_modules/

# Android build outputs
/app/build/
/app/.cxx/
/app/.externalNativeBuild/

# Project exclude paths
/opencv/build/
/opencv/.cxx/
/opencv/.externalNativeBuild/
/opencv/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/

/docs

*.drawio
